<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="welcome-style.css">
  <title>#{title}</title>
  style
      include welcome-style.css
      include ../css/Register-style.css
</head>
<body>
  <div class="container">
    <div class="header-content">
      <img src="https://i.pinimg.com/originals/7b/dd/1b/7bdd1bc7db7fd48025d4e39a0e2f0fd8.jpg" alt="">
  <h1>Login Successfull</h1>
</div>
  div.user-welcome-content
    <p class="content">
      | #{content}
      | #{user} 
    
    </p>
  a.sig(href='/login')  
         span.sig Login  
</div>
</body>
</html>

   